# # ---- LLM ----
# OPENAI_API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1
# OPENAI_API_KEY=
# OPENAI_MODEL=
# OPENAI_MAX_TOKENS=10000

# # ---- Milvus (容器内互联，使用服务名) ----
# MILVUS_URI=http://host.docker.internal:19530
# MILVUS_COLLECTION_NAME=rag_collection

# # ---- Embedding ----
# EMBEDDING_API_URL=http://host.docker.internal:8000

# # ---- Reranker ----
# #用的是阿里云百炼的api，如果要改需要改请求格式
# RERANKER_API_BASE=https://dashscope.aliyuncs.com/api/v1/services/rerank/text-rerank/text-rerank
# RERANKER_MODEL_NAME=gte-rerank-v2
# RERANKER_API_KEY=your_api_key_here

# # ---- Redis ----
# REDIS_URL=redis://localhost:6379/0

# # ---- MongoDB (容器内互联，使用服务名) ----
# MONGODB_URI=mongodb://host.docker.internal:27017
# MONGODB_DB_NAME=rag_db
# MONGODB_COLLECTION_NAME=chunks

# # ---- LangSmith ----
# LANGSMITH_API_KEY=your_api_key_here
# LANGSMITH_TRACING=false
# LANGSMITH_PROJECT=adaptive-rag
